<md-toolbar color="primary">
	<button *ngIf="auth.isAuthenticated" md-button routerLink="/dashboard" routerLinkActive='isActive'>Dashboard</button>
    <button *ngIf="auth.isAuthenticated" md-button routerLink="/messages" routerLinkActive='isActive'>Messages</button>
    <button *ngIf="auth.isAuthenticated" md-button routerLink="/newmessages" routerLinkActive='isActive'>Add Message</button>
    <span class='menu-divider'></span>
    <button *ngIf="!auth.isAuthenticated" md-button routerLink="/login" routerLinkActive='isActive'>Login</button>
    <button *ngIf="auth.isAuthenticated" md-button routerLink="/register" routerLinkActive='isActive'>Register</button>
    <button *ngIf="auth.isAuthenticated" md-button routerLink="/user" routerLinkActive='isActive'>Welcome {{auth.name}}</button>
    <button *ngIf="auth.isAuthenticated" md-button (click)='auth.logout()' routerLink="/">Logout</button>
</md-toolbar>