body {
	background: #eee;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 250%;
  color: #369;
}

h2 {
	font-size: 150%;
	color: #369;
	padding-left: 20px;
}

h3 {
	font-size: 125%;
	font-weight: normal;
	color: #369;
	width: 100%;
	padding-left: 20px;
}

p {
	font-size: 100%;
	color: #666;
	padding-left: 20px;
}

.card {
	margin-top: 8px;
}
